<a href="https://colab.research.google.com/github/ParameshMalla/BangaloreHousingPrice/blob/main/priceprediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Download and save the data
import os
import urllib.request

download = 'https://raw.githubusercontent.com/ParameshMalla/BangaloreHousingPrice/main/'
datapath = os.path.join("datasets", "")
os.makedirs(datapath, exist_ok=True)
for filename in ("Train.csv", "Test.csv"):
    print("Downloading", filename)
    url = download + filename
    urllib.request.urlretrieve(url, datapath + filename)

Downloading Train.csv
Downloading Test.csv

In [13]:
import pandas as pd

def load_housing_data(housing_path=datapath):
    return pd.read_csv(housing_path)

In [4]:
housing = load_housing_data(datapath + 'Train.csv')
housing.head()

              area_type   availability  ... balcony   price
0  Super built-up  Area         19-Dec  ...     1.0   39.07
1            Plot  Area  Ready To Move  ...     3.0  120.00
2        Built-up  Area  Ready To Move  ...     3.0   62.00
3  Super built-up  Area  Ready To Move  ...     1.0   95.00
4  Super built-up  Area  Ready To Move  ...     1.0   51.00

[5 rows x 9 columns]

In [5]:
housing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   area_type     13320 non-null  object
 1   availability  13320 non-null  object
 2   location      13319 non-null  object
 3   size          13304 non-null  object
 4   society       7818 non-null   object
 5   total_sqft    13320 non-null  object
 6   bath          13247 non-null  float64
 7   balcony       12711 non-null  float64
 8   price         13320 non-null  float64
dtypes: float64(3), object(6)
memory usage: 936.7+ KB

In [7]:
housing['area_type'].value_counts()

Super built-up  Area    8790
Built-up  Area          2418
Plot  Area              2025
Carpet  Area              87
Name: area_type, dtype: int64

In [23]:
housing = housing[housing['availability']=='Ready To Move']
housing.total_sqft.replace('1015 - 1540','1335',inplace=True)
housing.total_sqft.replace('34.46Sq. Meter','371',inplace=True)
housing['total_sqft'] = housing.total_sqft.astype(float, errors='raise')
housing.info()

ValueError: ignored